body{
    background: #2c3e50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2b3b5e, #3f6a96);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2b3b5e, #3f6a96); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
    background-size: 500% 500%;
    background-position: 500%;
    animation: gradient 10s ease infinite;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

@keyframes gradient{
    0% {
        background-position: 0%;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}

#landingpage{
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.2rem;
    text-align: center;
    
    
}